<nav class="navbar" style="background-color: black;
 border-color: black; color: white;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#" style="color: white; font-size: large;">WebSiteName</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar"> 
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://play.google.com/store/apps?hl=en" class="navButton">Download Now</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row" style="color: whitesmoke;">
    <div class="col-sm-4">
      <h2>
        Stay connected. Stay Safe
      </h2>
      <p>
        Register yourself today and join hands with millions around you in 
        making Pakistan Corona free.
      </p>
      <h3>Coming Soon on</h3>
      <a href="https://play.google.com/store/apps?hl=en"><img class="storeButton" src="../assets/google-play-badge.png" alt="playstore"></a>
    </div>
    <div class="col-sm-4">
      <img style="height: 500px; margin-left: 200px;" src="../assets/1 (2).png" alt="app">
    </div>
  </div>
</div>

<hr style="border: 0.5px solid white; margin-left: 80px; margin-right: 80px;" >

<div style="padding: 20px;">
  <h1 style="text-align: center;"> HOW WE KEEP YOU SAFE </h1>
  <p style="text-align: center;">
    The app is designed for tracking each individual's interaction with other people.
    Who you have came in contact with in last 14 days will be stored in your interaction
    list which can be used to notify them in the unfortunate events of you being a victim
    of the virus. Similarly, you will be timely notified about the status of your
    interactive list so that you don't have to worry about it.
  </p>
  <h3 style="text-align: center;">Keep the people safe you care about</h3>
  <p><span style="color: rgb(255, 46, 46);" class="glyphicon glyphicon-ok"></span> Shows you the status from people within your radius.</p>
  <p><span style="color: rgb(255, 46, 46);" class="glyphicon glyphicon-ok"></span> Keeps you updated about your interactions.</p>
  <p><span style="color: rgb(255, 46, 46);" class="glyphicon glyphicon-ok"></span> Secure your information.</p>
  <p><span style="color: rgb(255, 46, 46);" class="glyphicon glyphicon-ok"></span> Notify you when someone from your list test positive for the Covid'19.</p>
</div>

<div class="container-fluid" id="ContactUs" style="background-color: rgb(15,15,15);">
  <div class="row">
    <div class="col-sm-4">
      <h2>Hackistan</h2>
      <p>Hackistan aims to capture the attention of the youth, from university students to those working in corporations and entities – anyone who is able to identify and single out the need for 
        change and is willing to strive for this required change is wanted</p>
    </div>
    <div class="col-sm-4">
      <h2>For more information</h2>
      <p><a class="links" href="https://www.worldometers.info/coronavirus/?">Daily Updates</a></p>
      <p><a class="links" href="http://covid.gov.pk/">COVID'19 in Pakistan</a></p>
      <p><a class="links" href="https://nicpakistan.pk/hackistan/">NIC Pakistan</a></p>
      <p>Google Play and the Google Play logo are trademarks of Google LLC.</p>
    </div>
    <div class="col-sm-4">
      <h2>Contact Us</h2>
      <p>A27 Block-15</p>
      <p>Gulistan-e-Jauhar, Karachi</p>
      <p>Pakistan</p>
      <p>Phone: +92 335 9239235</p>
      <p>Email: usamamuhammad100@gmail.com</p>
      <a href="https://www.facebook.com/pg/NICPakistan/posts/" class="fa fa-facebook"></a>
      <a href="https://www.github.com/MuhammadUsama100" class="fa fa-github"></a>
    </div>
  </div>
</div>

